/* Grand Central Station. Operator. Main. */
// Imports
@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background: #ccc;
}

 h1 {
    padding-top: 2em; 
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 3em; 
}

div.lg-sub-html {
font-family: 'Quicksand', sans-serif;

}

span#lg-counter-current, span#lg-counter-all {
    font-family: 'Quicksand', sans-serif;
}

// Layout
main {
    background: #fff;
    margin: 0 auto;
    width: 80%;
}

// RWD header img
main header img {
    width: 100%;
    max-width: 100%;
    align-items: flex-end; 
}

// Random Backgrounds
.bg0 {
   background: linear-gradient(#ecf6f8, #71b0e6);
}

.bg1 {
  background: linear-gradient(#ceb6e3, #a097a8);
}

.bg2 {
  background: linear-gradient(#e4f5cd, #bce585);
}

// Portfolio Items
// Flexbox Layout
article {
  display: flex;
  flex-wrap: wrap;
    align-items: flex-start; 
  justify-content: space-around;
}

article figure {
  background: white;
  padding: 1em;
  width: 40em;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}





